// _sass/custom.scss
body {
    background-image: url('/files/background.jpg');  // Ensure the path is correct
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include breakpoint(max-width $medium) {
        background-size: contain; // Adjust background to fit better on smaller screens
    }
}
