// _sass/custom.scss
body {
    background-image: url('/files/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include breakpoint(max-width $medium) {
        background-size: contain;
        background-position: center 20%; // Adjust as necessary to keep the transition visible
    }
}
